@use './variables' as v;

/* Grid general con variable para el ancho del sidebar */
.private-layout {
  --sidebar-w: 260px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: var(--sidebar-w) 1fr;
  background: v.$bg-color;
}

.main-area {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.app-main   { padding: clamp(1rem, 2vw, 2rem); }
.app-footer {
  background: v.$footer-bg; color: v.$footer-text;
  border-top: 1px solid rgba(0,0,0,.06);
  padding: .8rem 1rem; text-align: center;
}
