$primary-color: #333333;
$secondary-color: #94690c;
$accent-color: #ffc107;
$bg-color: #f6f8fa;
$text-color: #333333;
$white: #fff;
$footer-bg: #fff;
$footer-text: #777;

// Fuente principal
$font-family-base: 'Geologica', sans-serif;