<table width="100%" style="background:#f6f6f6; text-align:center; font-size:13px; color:#777;">
  <tr>
    <td style="padding:20px;">
      © {{theme 'year'}} {{theme 'copyrightName'}}<br/>
      <a href="{{theme 'websiteUrl'}}" style="color:#777; text-decoration:none;">
        {{theme 'websiteUrl'}}
      </a>
    </td>
  </tr>
</table>
