<table width="100%" style="background:#ffffff; text-align:center; border-bottom:1px solid #eaeaea;">
  <tr>
    <td style="padding:32px;">
      <img 
        src="{{theme 'logoUrl'}}" 
        alt="{{theme 'brandName'}}"
        height="60"
        style="max-width:200px; display:block; margin:auto;" />
    </td>
  </tr>
</table>
