<h1>Recuperación de contraseña</h1>
<p>Recibimos una solicitud para restablecer la contraseña de tu cuenta en {{theme "brandName"}}.</p>

<p style="text-align:center">
  <a class="button" href="{{resetLink}}">Cambiar contraseña</a>
</p>

<p>Este enlace es válido por 1 hora.</p>
