<h1>Confirmá tu correo</h1>
<p>Para completar el registro, hacé clic en el siguiente botón:</p>

<p style="text-align:center">
  <a class="button" href="{{verifyLink}}">Verificar mi cuenta</a>
</p>

<p>Si no creaste esta cuenta, podés ignorar este mensaje.</p>
